
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&family=Miniver&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: fira sans;
    margin: 5px 20px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 25px;
}
.nav-title{
    color: rgb(14, 14, 14);
    font-weight:700;
    font-size: 28px;
}
.nav-btn{
    color: rgb(0, 106, 80);
    font-size:16px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    margin-right: 65px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
}

 /* Header styles */
 .header{
    padding: 60px 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 24px;
    background: rgb(198, 228, 214);
 }

 .text-1{
    color: rgba(14, 14, 14, 0.5);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 14px 0px;
 }
 .text-2{
    color: rgb(14, 14, 14);
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
 }
 .primary-btn{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 17px 34px 17px 34px;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
 }
 
 /* Pillars style */
 .card-sec{
    margin-bottom: 100px;
 }

 .pill{
    font-size: 50px;
    font-weight:700;
    margin: 65px 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.pillars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 50px; */
}
.p-card{
    font-size: 18px;
    line-height: 28px;
    background-color: rgb(235, 234, 233);
    width: 260px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgb(221, 212, 212);
}

.pillar-card-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 12px 0px;
}
.pillar-card-des{
    color: rgba(14, 14, 14, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 12px 0px;
}

  /* Card Style */

  .card-section{
    text-align: left;
    padding: 0px;
  }
  .title-1{
    color: rgb(14, 14, 14);
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin: 24px 22px;
  }
  .title-perag{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
 }

  .card{
    width: 410px;
    height: 325px;
    margin: 32px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .card-img{
    /* position: absolute; */
    margin: 25px 30px;
    width: 49.66px;
    height: 53.09px;
    /* left: 13.34px;
    top: 1px; */
 }
  .card-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 21px;
    margin: 12px 0px;
 }
 .card-perag{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
 }
 .btn-1{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    width: 140px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    margin: 24px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);
 }


 /* description part */


 #description-part{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 72px 28px;
    background-color:  rgb(235, 234, 233);
    padding: 48px 30px;
}
.description-details{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.desc-name{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding-top: 15px;
}
.about-yunus{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


  /* All card separete */
 .cardlist{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0px;
 }

 .c2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
 }
 .c3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
 }
 .cb2{
    background: rgb(9, 161, 92);
 }
 .cb3{
    background: rgb(255, 194, 57);
 }


.opinion-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 20px;
}
#table-head{
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    /* margin: 0px 12px;
    padding: 24px; */

}




 /* News section style */
 .headline{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin: 24px 20px;
 }
 .news-des{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 8px 20px;
 }

 .news-img{
    width: 408px;
    height: 306px;
    margin: 0px 32px;
    border-radius: 24px;
 }
 .news-part-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
    margin: 24px 0px;

    border-radius: 24px;
    background: rgb(236, 235, 235);
 }
 
 .news-headline{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-left: -0px;
 }
 .date-time{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0px 12px;
 }
 .newses{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 12px 20px;
 }
 .cng{
    margin: 32px 17px;
 }

 /* Donate Section Style */
.call-to-action{
    margin: 80px 0;
}
.donate-head{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin: 24px 0px;
}
.donate-perag{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0px 24px;
}
.amount-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24;
    margin: 32px 0px;
}
.part-1{
    color: rgba(14, 14, 14, 0.8);
    font-size: 28px;
    font-weight: 700;
    margin: 0px 24px;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.taka-200{
    background: rgb(198, 228, 214);
}
#input-field{
    color: rgba(14, 14, 14, 0.3);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: rgb(216, 211, 211);
    margin: 32px 0px;
    padding: 20px 40px 20px 40px; 
    background: rgb(236, 235, 235);
}
#btn-div{

    display: flex;
    margin: 0 auto;
    padding: 17px 34px 17px 34px;
}

/* Style of Newsletter section */
.newsletter{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 80px 0px;
    padding: 80px 100px 80px 100px;

}
.nsl-header{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin: 16px 0px;
}
.nsl-des{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 16px 0px;
}
.nsl-input{
    width: 600px;
    height: 20px;
    padding: 16px 40px 17px 40px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background: rgb(236, 235, 235);
}
.nsl-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 17px 34px 17px 34px;
    margin: 0 -20px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    }

#input-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.promiss{
    color: rgba(14, 14, 14, 0.7);
    font-size:16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    margin: 24px 0px;
}

/* Footer style */
footer{
    margin-top: 140px;
}
.footer-title{
    color: rgb(14, 14, 14);
    font-size: 28px;
    font-weight:700;
    text-align:center;
    margin-bottom: 35px;
}
.contact{
    display: flex;
    align-items:center;
    justify-content: center;
}